@import "tailwindcss";

@theme {
  --font-display: "Stint Ultra Condensed", serif;
  --font-mono: "JetBrains Mono", monospace;
  --font-body: "Inter", sans-serif;
}

p {
  font-family: var(--font-body);
}